[client]
port    = 3306
socket  = /var/mysqld/mysqld.socket

[mysqld]
port    = 3306
socket  = /var/mysqld/mysqld.socket

default-time-zone = '+00:00'

user = mysql
datadir = /var/mysqld/data

# TCP Socket settings
bind-address    = 0.0.0.0

innodb_lock_wait_timeout = 120

wait_timeout=90
net_read_timeout=90
net_write_timeout=90
interactive_timeout=300
connect_timeout=90
max_allowed_packet = 128M
innodb_log_file_size = 128MB
